{% extends 'base.html' %}
{% block title %}Adres Formu{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h2>Adres Bilgileri</h2>

      <form action="{% url 'payment_checkout' %}" method="POST">
        {% csrf_token %}

        <table class="table">
          <tbody>
            <tr>
              <td><strong>Ürünlerin Toplam Fiyatı:</strong></td>
              <td>₺{{ total_price_sum }}</td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <label>Adres Satırı 1</label>
          <input type="text" class="form-control" name="address_line1">
        </div>

        <div class="form-group">
          <label>Adres Satırı 2</label>
          <input type="text" class="form-control" name="address_line2">
        </div>

        <div class="form-group">
          <label>Şehir</label>
          <input type="text" class="form-control" name="city">
        </div>

        <div class="form-group">
          <label>Eyalet</label>
          <input type="text" class="form-control" name="state">
        </div>

        <div class="form-group">
          <label>Posta Kodu</label>
          <input type="text" class="form-control" name="postal_code">
        </div>

        <hr>

        <h4>Ödeme Yöntemi</h4>

        <div class="form-check">
          <input class="form-check-input" type="radio"
                 name="payment_method"
                 value="stripe"
                 id="stripe"
                 checked>

          <label class="form-check-label" for="stripe">
            Stripe ile Öde
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input"
                 type="radio"
                 name="payment_method"
                 value="iyzico"
                 id="iyzico">

          <label class="form-check-label" for="iyzico">
            Iyzico ile Öde
          </label>
        </div>

        <input type="hidden"
               name="total_price_sum"
               value="{{ total_price_sum }}">

        <button type="submit" class="btn btn-primary mt-3">
          Siparişi Onayla
        </button>

      </form>

    </div>
  </div>
</div>
{% endblock %}